<div class="page-sidebar" id="main-menu">
        <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
          <!-- BEGIN MINI-PROFILE -->
<%= render 'shared/mini_profile' %>
          <!-- END MINI-PROFILE -->
          <!-- BEGIN SIDEBAR MENU -->
<%= render 'shared/sidebar_menu' %>
          <!-- END SIDEBAR MENU -->
          <!-- BEGIN SIDEBAR WIDGETS -->
<%= render 'shared/sidebar_widgets' %>
          <!-- END SIDEBAR WIDGETS -->
        </div>
      </div>
