	<ul>
		<% if current_user.admin? %>
		<li>
			<a href="<%=admin_root_path%>">
				Admin <span class="semi-bold">Menu </span>
			</a>
		</li>
		<% end %>
		<li class="classic">
			<a href="javascript:;">
				Laboratory <span class="semi-bold">Management</span> <span class="arrow"></span>
			</a>
			<ul class="classic">
				<li>
					<a href="<%=laboratory_index_path%>">View Laboratory Details
						<span class="description">
							View your laboratory details
						</spam>
					</a>
				</li>
				<li>
					<a href="<%=laboratory_test_index_path%>">View Laboratory Tests
						<span class="description">
							View your laboratory tests. These are the tests we send to your laboratory
						</spam>
					</a>
				</li>
				<li>
					<a href="index.html">Buttons
						<span class="description">
							Basic buttons are traditional buttons
							...
						</spam>
					</a>
				</li>
				<li>
					<a href="index.html">Sliders
						<span class="description">
						Basic slider with different options use
						of ...
						</spam>
					</a>
				</li>
			</ul>
		</li>
	</ul>
