<div class="bar">
  <div class="bar-inner">
  <ul>
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li class="classic">
      <a href="javascript:;">
        Laboratories <span class="semi-bold">Menu</span> <i class="fa fa-angle-down"></i>
      </a>
      <ul class="classic">
        <li>
          <a href="index.html">UI Elements
            <span class="description">
              Find which UI elements suits you the
              most.
            </span>
          </a>
        </li>
        <li>
          <a href="index.html">Message & Notifications
            <span class="description">
              Alerts help to gain user attention and
              give...
            </span>
          </a>
        </li>
        <li>
          <a href="index.html">Buttons
            <span class="description">
              Basic buttons are traditional buttons
              ...
            </span>
          </a>
        </li>
        <li>
          <a href="index.html">Sliders
            <span class="description">
            Basic slider with different options use
            of ...
          </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="horizontal">
      <a href="javascript:;">
        Tests <span class="semi-bold">Menu</span> <i class="fa fa-angle-down"></i>

      </a>
      <ul class="horizontal">
        <li>
          <a href="index.html">UI Elements</a>
        </li>
        <li>
          <a href="index.html">Message & Notifications</a>
        </li>
        <li>
          <a href="index.html">Buttons</a>
        </li>
        <li>
          <a href="index.html">Sliders</a>
        </li>
      </ul>
    </li>

  </ul>
</div>
</div>
