<!-- BEGIN MENU -->
<div class="page-sidebar" id="main-menu">
			<!-- BEGIN SIDEBAR MENU -->

				<a href="/">
					<i class="icon-custom-home"></i>
					<span class="title">Link 1</span>
					<span class="selected"></span>
					<span class="badge badge-important pull-right">5</span>
				</a>
		<!-- END SIDEBAR MENU -->
		<!-- BEGIN SIDEBAR WIDGETS -->
		<div class="side-bar-widgets">
		</div>
		<div class="clearfix"></div>
		<!-- END SIDEBAR WIDGETS -->
	</div></div>
<!-- BEGIN SCROLL UP HOVER -->
