<!-- BEGIN MENU -->
<%= render 'shared/menu' %>
<!-- BEGIN SCROLL UP HOVER -->
<a href="#" class="scrollup">Scroll</a>
<!-- END SCROLL UP HOVER -->
<!-- END MENU -->
<!-- BEGIN SIDEBAR FOOTER WIDGET -->
<%=render 'shared/footer_widget' %>
<!-- END SIDEBAR FOOTER WIDGET -->
