<div class="widget red-bg p-lg text-center">
  <h2> <%= @title %> </h2>

  <div class="p-m">
  <div> Generate Addresses of Labs</div>
  <%=form_tag(out_of_date_path([:months])) do%>
  <div class="form-group">
    <label for="usr">at least X months out of date:</label>
    <input type="text" class="form-control" id="months_out" name="months_out">
  </div>
  <div>
    <button type="submit" class="btn btn-sm btn-primary m-t-n-xs">Months Old</button>
  </div>
  <% end %>
</div>
<div class="p-m">
  <div> Test (Don't Send)</div>
  <%=form_tag(out_of_date_test_path([:months])) do%>
  <div class="form-group">
    <label for="usr">at least X months out of date:</label>
    <input type="text" class="form-control" id="months_out" name="months_out">
  </div>
  <button type="submit" class="btn btn-sm btn-primary m-t-n-xs">Months Old</button>
  <% end %>
</div>

</div>
