
<div class="widget yellow-bg p-lg text-center">
		<h2> <%= @title %> </h2>
		<div class="row-fluid">
			<div> Workload Assessment- Number of Labs Out of Date</div>
			<div id='workloadChart'></div>
			<div id="myfirstchart" style="height: 310px;"></div>
		</div>
</div>
