
<% content_for :title do %>
HEFT Sendaway Database
<% end %>
<div class="jumbotron">
  <h1>HEFT Send Away Database</h1>
  <p>View and Manage the HEFT Sendaway Labs Database</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View Sendaway Labs</a>
  </p>
</div>
