<div class="preview-wrapper">CPA Status
	<% if laboratory.cpa_status %>
	<div class="status-icon green"></div>
	CPA Reference Number: <%= laboratory.cpa_reference_number %>
	<% else %>
	<div class="status-icon red"></div>
	<%end%>
</div>
