<div class="row">
  <div class="col-lg-4">
    <div class="ibox">
      <div class="ibox-content">
        <h5>Percentage of Tests Out of Date</h5>
        <h2></h2>
        <div class="text-center">
          <div id="labs_out_of_date"><canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="ibox">
      <div class="ibox-content">
        <h5>Percentage of Tests we are waiting for updated information</h5>
        <h2></h2>
        <div class="text-center">
          <div id="updates_sent_but_waiting_for_response"><canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="ibox">
      <div class="ibox-content">
        <h5>Percentage of records complete</h5>
        <h2></h2>
        <div class="text-center">
          <div id="record_complete"><canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>
