<div class="post">
	<ul class="action-bar no-margin p-b-20 ">
		<% unless laboratory.telephone.nil? %>
		<li>
			<a href="#" class="muted bold">
				<i class="fa fa-phone   m-r-10"></i>
				<%= laboratory.telephone %>
			</a>
		</li>
		<% end %>
		<% unless laboratory.website.nil? %>
		<li><a href="#" class="text-error bold">
			<i class="fa fa-internet-explorer  m-r-10"></i>
			<%= laboratory.website %></a>
		</li>
		<% end %>
	</ul>
	<div class="clearfix"></div>
</div>

<% if current_user.admin? %>
<%= render partial: "management_info", locals: {laboratory: laboratory} %>
<% end %>
