<div class="post">
		<% if laboratory.telephone.nil? || laboratory.telephone.empty?%>
		  No phone number listed
		<% else %>
			<a href="#" class="muted bold">
				<i class="fa fa-phone   m-r-10"></i>
				<%= laboratory.telephone %>
			</a>
		
		<% end %>
		<% unless laboratory.website.nil? %>
		<p>
		Website:
		<a href="#" class="text-error bold">
			<i class="fa fa-internet-explorer  m-r-10"></i>
			 <%= laboratory.website %></a>
	    </p>
		<% end %>
	<div class="clearfix"></div>
</div>

<% if current_user.admin? %>
<%= render partial: "management_info", locals: {laboratory: laboratory} %>
<% end %>
