<tr>
 <td class="tat">
   <%=labtest.turnaround_time%>
 </td>

 <td class="tat">
   <%=labtest.sample_volume%>
 </td>

 <td class='sample_requirements'>
   <%=labtest.sample_type%>
 </td>

 <td colspan="2" class='sample_requirements'>
   <%=labtest.special_collection_requirements%>
 </td>
</tr>
