<tr>
  <td class="table_cell">
    <%=labtest.analyte_name%>
  </td>
  <td colspan="2" class="methodology">
    <%=labtest.methodology%>
  </td>
  <td colspan="2" class='reference_range'>
    <%=labtest.reference_range%>
  </td>
</tr>
