<% laboratory.laboratory_tests.each do |labtest| %>

<div class="page" >
  <p>Please complete the following information for each test that you provide for our laboratory. We have prefilled the table with the infomation we currently have in our database</p>

      <table class='print_table'>
        <%= render partial: 'tests_info_header', locals: {labtest: labtest} %>
      </table>

      <p><strong>**Satisfactory performance:-</strong></p>
      <ul>
      <li>‘Yes’	indicates no communication from scheme organiser/panel chair about unsatisfactory performance in the last 12 months.</li>
      <li>‘No’	please indicate whether the issue is currently under investigation or has been satisfactorily concluded.</li>
      </ul>
      <br>
      <br>
      <br>
      <p>Name (Print): .................................................................			Date:.............................</p>
      <br>
      <br>
      <br>
      <p>Signed:.........................................................					Designation:……………………………….</p>

</div>

<%end%>
