<div class="tiles green " style="max-height:345px">
	<div class="tiles-body">
		<h3 class="text-white m-t-50 m-b-30 m-r-20"><%=laboratory.laboratory_name%></h3>
		<%= render partial: "address", locals: {laboratory: laboratory} %>
		<div class="clearfix"></div>
	</div>
</div>
