<% content_for :content_title do %>
Your laboratories
<% end %>

<% @laboratories.each_slice(2).with_index  do |laboratory, index| %>
<div class="row">
  <% laboratory.each do |lab| %>
  <div class='col-md-6'>
    <div class="widget-head-color-box navy-bg p-lg text-center">
      <div class="m-b-md">
        <h2 class="font-bold no-margins">
          <%= render partial: "widget_header", locals: {laboratory: lab, colour: 'blue'} %>
        </h2>
      </div>
    </div>
    <div class="widget-text-box">
      <%= render partial: "widget_body", locals: {laboratory: lab} %>
    </div>
  </div>
  <%end%>
</div>



<%end%>
<%= paginate @laboratories %>
