<% content_for :content_title do %>
<h2>Laboratories with out of date infomation</h2>
<p>
	<b>Number: <%=@laboratories.flatten.count%></b>
</p>
<% end %>


<%= render :partial => 'repertoire_out_of_date', :locals => {:repertoires => @repertoires, :laboratories_arr => @laboratories} %>
