<% content_for :content_title do %>
Letters sent to these laboratories but information not complete
<p>
<b><b>Number: <%=@laboratories.flatten.count%></b></b>
</p>
<% end %>

<%= render :partial => 'repertoire_out_of_date', :locals => {:repertoires => @repertoires, :laboratories_arr => @laboratories} %>