<% content_for :content_title do %>
Letters sent to these laboratories but waiting for information
<p>
<b>Number: <%=@out_of_date_information_array.first.count%></b>
</p>
<% end %>

<% @out_of_date_information_array.each_with_index do |repertoire, index| %>
<%= render :partial => 'repertoire_out_of_date', :locals => {:repertoire => repertoire, :laboratories => @referral_laboratories_array[index]} %>
<% end %>