<div class="row">
	<div class="user-comment-wrapper pull-left">
		<div class="comment">
			<div class="user-name text-black bold large-text">
				<%= render partial: "laboratory_test", locals: {laboratory_test: laboratory_test} %>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
