/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.content {
  margin-top: 30px;
}

.m-center {
  margin: 0px auto;
  width: 500px;
}

.hit-auto-complete {

  em {
    font-weight: bold;
    font-style: normal;
  }

  .email {
    font-size: 0.9em;
  }

  .company {
    text-align: right;
    font-size: 0.8em;
    color: #999;
  }

}

.instant-search-form {
  width: 500px !important; height: 70px !important; padding: 0px !important; margin: 0px !important; background: white; font-size: 24px !important;
  padding-left: 5px !important; border: 2px solid #18bc9c !important;
}

#hits {
  margin-top: 30px;
}

.search-terms {
  margin-top: 10px;
  margin-left: 20px;
}

.hit-instant-search {
  border: 1px solid #EFEFEF;
  margin-bottom: 10px;
  padding: 10px 20px;

  em {
    font-weight: bold;
    font-style: normal;
  }

  .name {
    font-size: 20px;
  }

  .created_at {
    float: right;
    color: green;
    font-size: 0.6em;
  }

  .company {
    float: right;
    color: #999;
  }
}
.tt-hint { margin: 0px !important; padding: 0px !important; padding-left: 5px !important; color: #AAA !important; border: 0px !important; }
.tt-dropdown-menu { width: 100%; margin-left: -2px; padding: 8px 0; background-color: #fff; border: 2px solid #18bc9c; border-top: 0px; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2); -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2); box-shadow: 0 5px 10px rgba(0,0,0,.2); }
.tt-suggestion { text-align: left; padding: 5px 10px; font-size: 16px; }
.tt-suggestion.tt-cursor { color: #fff; background-color: #18bc9c; }
.tt-suggestion em { font-weight: bold; font-style: normal; }
