@page {
  size: 21cm 29.7cm;   /*A4*/
  margin: 0cm !important;
}
	 .page {
			 width: 216mm;
			 min-height: 297mm;
			 padding: 20mm;
			 margin: 10mm auto;
			 border: 1px #D3D3D3 solid;
			 border-radius: 5px;
			 background: white;
			 box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	 }



	 @media print {
			 .page {
				 border: 0px;
				 border-radius: 5px;
				 background: white;
				 box-shadow: 0 0 5px rgba(0, 0, 0, 0);
				 page-break-after: always;
			 }
			 
			 #container_2 {
			     -webkit-transform: rotate(90deg);
			     -moz-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			     -ms-transform: rotate(90deg);
			     transform: rotate(90deg);
			 }
			 .tests {
				 margin-top: 20mm;
				 margin-left: -40mm;
			 }

	 }
