<div class="row  border-bottom white-bg dashboard-header">
<% flash.each do |key, value| %>
<div class="row">
  <div class="col-lg-10">
    <h2>
      <%= value %>
    </h2>
    <ol class="breadcrumb">
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
  </div>
<% end %>
</div>
